<!DOCTYPE html>
<html>
<head>
<title>Placeholder for ${PLACEHOLDER_APPNAME}</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        margin-top: 100px ;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Placeholder for ${PLACEHOLDER_APPNAME}</h1>

<p>
If you see this page, the cluster is successfully installed and working,
but the applications needs to be deployed.
</p>

<p><em>Come back soon!</em></p>
</body>
</html>
